* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.gradient {
    background: linear-gradient(-45deg, #b2fefa, #88b4f7ff) no-repeat fixed;
}

#page-container {
    position: relative;
    min-height: 100vh;
}

#content-wrap {
    padding-bottom: 132px;
}

.main_par {
    font-size: 86px;
    color: white;
    font-weight: bold;
    text-align: center;
    font-family: "Poiret One", sans-serif !important;
}

.main_reward {
    color: white;
    font-size: 42px;
    font-weight: bold;
    text-align: center;
    font-family: "Poiret One", sans-serif !important;
}

.main_row {
    margin-top: 100px;
}

h1 {
    font-family: "Poiret One", sans-serif !important;
    text-align: center;
}

.nav-link {
    font-family: "Poiret One", sans-serif !important;
    font-size: 28px;
}

.regHead, .loginHead, .addHead, .msGreet, .successHead, .errorHead, .suggHead{
    margin-top: 50px;
    margin-bottom: 25px;
    font-weight: bold;
    font-family: "Poiret One", sans-serif !important;
}
.errorHead, .homeLink, .errorPar, .genError {
    font-family: 'VT323', monospace !important;
    color: black;
}

.homeLink:hover {
    text-decoration: none;
    color: #343a40;
}
.errorHead {
    background-color: #d0d0d0;
    padding: 0 10px;
}
.msHead {
    font-family: "Poiret One", sans-serif !important;
    font-weight: bold;
}

#loginForm, #regForm, #addForm, #editForm {
    margin-bottom: 100px;
}

.suggType {
    font-family: "Poiret One", sans-serif;
    font-size: 2.5rem;
    background-color: #343a40;
    color: white;
}
.suggTypeWrap {
    padding: 0 !important;
}
.suggName {
    list-style-type: circle;
    list-style-position: inside;
    font-family: "Poiret One", sans-serif;
    font-size: 1.25rem;
}
.suggList {
    background-color: white;
}

.error {
    color: red;
    margin-bottom: 0.5rem !important;
}

.sub-bar {
    margin-top: 50px;
}
.sub-collapse {
    padding: 20px 0;
    background-color: #fff;
}
.sub-ftr {
    margin-top: 50px;
}
.sub-content {
    margin-bottom: 50px;
}
.confirmPar {
    font-size: 32px;
    font-family: "Poiret One", sans-serif;
    font-weight: bold;
}
.subSpan {
    font-weight: bold;
}

footer {
    width: 100%;
    color: white;
    text-align: center;
    background-color: #343a40;
    padding: 30px 0;
}

.bttm {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 132px;
}


@media (min-width: 576px) {

    .btn-delete, .btn-edit, .btn-sub {
        font-family: "Poiret One", sans-serif;
        font-size: 42px !important;
    }

    .errorHead, .homeLink, .errorPar {
        font-size: 48px;
    }
}


@media (min-width: 992px) {

    .btn-delete, .btn-edit, .btn-sub {
        font-family: "Poiret One", sans-serif;
        font-size: 60px !important;
    }

    .main_reward {
        font-size: 32px;
    }

    .errorHead, .homeLink, .errorPar {
        font-size: 36px;
    }
}
