* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.gradient {
    background: linear-gradient(-45deg, #b2fefa, #88b4f7ff) no-repeat fixed;
}

#page-container {
    position: relative;
    min-height: 100vh;
}

#content-wrap {
    padding-bottom: 132px;
}

.main_par {
    font-size: 86px;
    color: white;
    font-weight: bold;
    text-align: center;
    font-family: "Poiret One", sans-serif !important;
}

.main_reward {
    color: white;
    font-size: 42px;
    font-weight: bold;
    text-align: center;
    font-family: "Poiret One", sans-serif !important;
}

.main_row {
    margin-top: 100px;
}

h1 {
    font-family: "Poiret One", sans-serif !important;
    text-align: center;
}

.nav-link {
    font-family: "Poiret One", sans-serif !important;
    font-size: 28px;
}

.regHead, .loginHead, .addHead, .msGreet, .successHead, .errorHead{
    margin-top: 50px;
    margin-bottom: 25px;
    font-weight: bold;
    font-family: "Poiret One", sans-serif !important;
}
.errorHead, .homeLink, .errorPar, .genError {
    font-family: 'VT323', monospace !important;
    color: black;
}

.homeLink:hover {
    text-decoration: none;
    color: #343a40;
}
.errorHead {
    background-color: #d0d0d0;
    padding: 0 10px;
}
.msHead {
    margin-bottom: 100px;
    font-family: "Poiret One", sans-serif !important;
    font-weight: bold;
}

#loginForm, #regForm, #addForm {
    margin-bottom: 100px;
}

.error {
    color: red;
    margin-bottom: 0.5rem !important;
}

.sub-content {
    overflow: auto;
    margin-bottom: 100px;
}

.subBox {
    color: black;
    font-family: "Poiret One", sans-serif !important;
    border-radius: 50px;
    text-align: center;
    font-weight: bold;
}
.hrs {
    border: 1px solid beige;
    background-color: beige;
}
.subSpan {
    font-weight: bold;
}

footer {
    width: 100%;
    color: white;
    text-align: center;
    background-color: #343a40;
    padding: 30px 0;
}

.bttm {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 132px;
}


@media (min-width: 576px) {
    .subBox {
        font-size: 24px;
        transition: none;
    }

    .subBox:hover {
        transform: none;
    }

    .msHead {
        margin-bottom: 25px;
    }
    .subs {
        width: 60%;
        margin: 50px auto 10px;
    }
    .errorHead, .homeLink, .errorPar {
        font-size: 48px;
    }

}


@media (min-width: 992px) {
    .subBox {
        transition: transform .2s;
        padding: 10px 0;
    }

    .subBox:hover {
        transform: translateY(-5px);
    }

    .main_reward {
        font-size: 32px;
    }

    .msHead {
        margin-bottom: 50px;
    }

    .subs {
        width: 25%;
        margin: 6px 4.16% 30px;
    }
    .errorHead, .homeLink, .errorPar {
        font-size: 36px;
    }
}
