<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add</title>
    <link th:href="@{homeStyles.css}" rel="stylesheet"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poiret+One&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-dark bg-dark">

            <a class="navbar-brand" href="#"><img th:src="@{/images/mainLogo-md.png}"></a>

            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{mysubscriptions}">My Subscriptions</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#">Add</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Delete</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Manage Accounts</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Notifications</a>
                </li>
            </ul>

            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#">Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Sign Out</a>
                </li>
            </ul>
        </nav>
    </header>

        <form method="post" th:object="${subscription}">

            <h1 class="addHead">Add a subscription</h1>

            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Name of subscription:</label>
                <div class="col-sm-2">
                    <input type="text" class="form-control" placeholder="Enter name..." th:field="*{name}">
                </div>
                <span class="validationError"
                      th:if="${#fields.hasErrors('name')}"
                      th:errors="*{name}">Name Error</span>
            </div>

            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Cost of subscription:</label>
                <div class="col-sm-2">
                    <input type="number" class="form-control" placeholder="Enter cost..." th:step="0.01" th:field="*{cost}">
                </div>
                <span class="validationError"
                      th:if="${#fields.hasErrors('cost')}"
                      th:errors="*{cost}">Cost Error</span>
            </div>

            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Current billing cycle start date:</label>
                <div class="col-sm-2">
                    <input type="date" class="form-control" th:field="*{start}">
                </div>
                <span class="validationError"
                      th:if="${#fields.hasErrors('start')}"
                      th:errors="*{start}">Date Error</span>
            </div>

            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Current billing cycle end date:</label>
                <div class="col-sm-2">
                <input type="date" class="form-control" th:max="2021-12-31" th:min="2019-9-15" th:field="*{end}">
                </div>
                <span class="validationError"
                      th:if="${#fields.hasErrors('end')}"
                      th:errors="*{end}">Date Error</span>
            </div>

            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Select Billing Cycle:</label>
                <div class="col-sm-2">
                    <select  class="form-control" th:field="*{options.billingCycle}">
                        <option th:each="cycle : ${billingCycle}" th:value="${cycle}" th:text="${cycle}">
                        </option>
                    </select>
                </div>
                <span class="validationError"
                      th:if="${#fields.hasErrors('options.billingCycle')}"
                      th:errors="*{options.billingCycle}">Cycle Error</span>
            </div>

            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Select Media Type:</label>
                <div class="col-sm-2">
                    <select class="form-control" th:field="*{options.mediaType}">
                        <option th:each="type : ${mediaTypes}" th:value="${type}" th:text="${type}">
                        </option>
                    </select>
                </div>
                <span class="validationError"
                      th:if="${#fields.hasErrors('options.mediaType')}"
                      th:errors="*{options.mediaType}">Media Error</span>
            </div>

            <div class="form-group row subBtn">
                <div class="col-sm-2">
                    <button type="submit" class="btn btn-dark">Submit</button>
                </div>
            </div>
        </form>


    <footer class="bttm">
        Copyright &copy;2020 <br/>
        Jorge Garcia <br/>
        CS-321-1
    </footer>
</body>
</html>