<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/base :: headContent">
    <title class="pageTitle">Error-500</title>
</head>

<body class="gradient">
    <div id="page-container">
        <header>
            <div th:replace="fragments/base :: navigation">

            </div>
        </header>

        <div id="content-wrap" class="container-fluid">

            <div th:replace="fragments/base :: icons">

            </div>

            <div class="row justify-content-center">
                <h1 class="errorHead">Error 500</h1>
            </div>
            <div class="row justify-content-center">
                <p class="errorPar">Hm... Unfortunately, the server crashed. Apologies.</p>
            </div>

        </div>


        <div th:replace="fragments/base :: footerContent">

        </div>
    </div>
</body>
<th:block th:insert="fragments/base :: scripts"></th:block>
</html>