<!DOCTYPE html>
<html lang="en"
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/base :: headContent">
    <title class="pageTitle">Home</title>
</head>

<body class="gradient">
    <div id="page-container">
        <header>
            <div th:replace="fragments/base :: navigation">

            </div>
        </header>


        <div id="content-wrap" class="container-fluid">

            <div th:replace="fragments/base :: icons">

            </div>

            <div class="main_row row justify-content-center">
                <p class="main_par">All Your Subscriptions.<br>
                    All in One Place.</p>
            </div>

            <div class="main_row main_reward row justify-content-center">
                <p class="col-12">
                   #1 Highest Rated on G2<br>
                   <img class="reward col-6 col-lg-2" th:src="@{/images/icon-reward.svg}">
                </p>
            </div>

        </div>


        <div th:replace="fragments/base :: footerContent">

        </div>
    </div>
</body>
<th:block th:insert="fragments/base :: scripts"></th:block>
</html>