<!DOCTYPE html>
<html lang="en"
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link th:href="@{homeStyles.css}" rel="stylesheet"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poiret+One&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-dark bg-dark">

            <a class="navbar-brand" href="#"><img th:src="@{images/mainLogo-md.png}"></a>

            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link home-nav active" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link home-nav" href="#">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link home-nav" href="#">Contact</a>
                </li>
            </ul>

            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link home-nav" href="#">Sign Up</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link home-nav" href="#">Login</a>
                </li>
            </ul>
        </nav>
    </header>

    <img  class="main" th:src="@{images/subs.png}"/>

    <footer class="bttm">
        Copyright &copy;2020 <br/>
        Jorge Garcia <br/>
        CS-321-1
    </footer>
</body>
</html>