<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head th:replace="fragments/base :: headContent">
    <title class="pageTitle">Login</title>
</head>

<body class="gradient">
    <div id="page-container">
        <header>
            <div th:replace="fragments/base :: navigation">

            </div>
        </header>

        <div id="content-wrap" class="container-fluid">

            <div th:replace="fragments/base :: icons">

            </div>

            <h1 class="loginHead">Login</h1>

            <form class="container-fluid" method="post" th:action="@{/login}" id="loginForm">
                <div th:if="${param.error}" class="error row justify-content-center">
                    <p class="col-6 text-center">*Unable to login. Check your username and password*</p>
                </div>

                <div class="row form-group justify-content-center">
                    <label class="col-form-label col-2 text-right font-weight-bold" for="username">Username: </label>
                    <input class="form-control col-5 col-lg-2" type="text" th:name="username" id="username">
                </div>

                <div class="row form-group justify-content-center">
                    <label class="col-form-label col-2 text-right font-weight-bold" for="password">Password: </label>
                    <input class="form-control col-5 col-lg-2" type="password" th:name="password" id="password">
                </div>
                <div class="row form-group justify-content-center">
                    <span class="col-6 col-lg-3"></span>
                    <input class="col-1 form-control btn btn-dark" type="submit" value="Login">
                </div>
            </form>

        </div>

        <div th:replace="fragments/base :: footerContent">

        </div>
    </div>

    <div th:replace="fragments/base :: scripts">

    </div>

</body>
</html>