<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/base :: headContent">
    <title class="pageTitle">Home</title>
</head>
<body class="gradient">
    <div id="page-container">
        <header>
            <div th:replace="fragments/base :: navigation">

            </div>
        </header>

        <div id="content-wrap">

            <div class="container-fluid">
                <div class="row justify-content-center">
                    <h1 class="col-4 msGreet">Hi, <span th:text="${fullname}">Full name</span></h1>
                </div>

                <div class="row justify-content-center">
                    <h1 class="col-5 msHead">Current Subscriptions</h1>
                </div>
            </div>



        <div class="sub-content">
            <div th:each="subscription : ${subscriptions}" class="subs float-lg-left">
                <div class="subBox">
                    <p class="subSpan" th:text="${subscription.name}">NAME</p>
                    <hr class="hrs">

                    <p>Cost: $<span class="subSpan" th:text="${subscription.cost}">Cost</span></p>
                    <p>Start Date: <span class="subSpan" th:text="${subscription.start}">START DATE</span></p>
                    <p>End Date: <span class="subSpan" th:text="${subscription.end}">END DATE</span></p>
                    <p>Billing Cycle: <span class="subSpan" th:text="${subscription.options.billingCycle}"> </span></p>
                    <p>Media Type: <span class="subSpan" th:text="${subscription.options.mediaType}"> </span></p>
                </div>
            </div>

        </div>
        </div>

        <div th:replace="fragments/base :: footerContent">

        </div>
    </div>

    <div th:replace="fragments/base :: scripts">

    </div>
</body>
</html>