<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign Up</title>
    <link rel="stylesheet" th:href="@{/styles.css}">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.5.2/css/bootstrap.min.css}">
    <link href="https://fonts.googleapis.com/css2?family=Poiret+One&display=swap" rel="stylesheet">
</head>
<body class="gradient">
    <div id="page-container">
        <header>
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">

                <a class="navbar-brand"><img th:src="@{images/main-logo-md.png}"></a>

                <button class="navbar-toggler" type="button"
                        data-toggle="collapse"
                        data-target="#navbarSupportedContent"
                        aria-controls="#navbarSupportedContent"
                        aria-expanded="false"
                        aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item" th:classappend="${#request.getServletPath() == '/' ? 'active' : ''}"
                            th:if="${#authentication.getName().equals('anonymousUser')}">
                            <a class="nav-link" th:href="@{/}">Home</a>
                        </li>
                        <li class="nav-item" th:classappend="${#request.getServletPath() == '/mysubscriptions' ? 'active' : ''}"
                            th:if="${!#authentication.getName().equals('anonymousUser')}">
                            <a class="nav-link" th:href="@{/mysubscriptions}">My Subscriptions</a>
                        </li>
                        <li class="nav-item" th:classappend="${#request.getServletPath() == '/add' ? 'active' : ''}"
                            th:if="${!#authentication.getName().equals('anonymousUser')}">
                            <a class="nav-link" th:href="@{/add}">Add</a>
                        </li>
                    </ul>

                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item" th:classappend="${#request.getServletPath() == '/register' ? 'active' : ''}"
                            th:if="${#authentication.getName().equals('anonymousUser')}">
                            <a class="nav-link" th:href="@{/register}">Sign Up</a>
                        </li>
                        <li class="nav-item" th:classappend="${#request.getServletPath() == '/login' ? 'active' : ''}"
                            th:if="${#authentication.getName().equals('anonymousUser')}">
                            <a class="nav-link" th:href="@{/login}">Login</a>
                        </li>
                        <li class="nav-item" th:if="${!#authentication.getName().equals('anonymousUser')}">
                            <a class="nav-link" th:href="@{/logout}">Sign Out</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>

        <div id="content-wrap" class="container-fluid">

            <div class="main_row row justify-content-center">
                <img th:src="@{/images/icon-netflix.png}" class="col-2 col-lg-1 mr-5">
                <img th:src="@{/images/icon-hulu.png}" class="col-2 col-lg-1 mr-5">
                <img th:src="@{/images/icon-spotify.png}" class="col-2 col-lg-1 mr-5">
                <img th:src="@{/images/icon-disneyplus.png}" class="col-2 col-lg-1">
            </div>

            <h1 class="regHead">Sign Up</h1>

            <form class="container-fluid" method="post" th:action="@{/register}" th:object="${registrationForm}" id="regForm">

                <div class="form-group row justify-content-center">
                    <p class="col-6 text-center validationError error"
                       th:if="${#fields.hasErrors('username')}"
                       th:errors="*{username}">Username Error</p>
                </div>

                <div class="form-group row justify-content-center">
                    <label class="col-form-label col-2 text-right font-weight-bold" for="username">Username: </label>
                    <input class="form-control col-5 col-lg-2" type="text" th:name="username" th:value="*{username}" id="username">
                </div>

                <div class="form-group row justify-content-center">
                    <p class="col-6 text-center validationError error"
                          th:if="${#fields.hasErrors('password')}"
                          th:errors="*{password}">Password Error</p>
                </div>
                <div class="form-group row justify-content-center">
                    <label class="col-form-label col-2 text-right font-weight-bold" for="password">Password: </label>
                    <input class="form-control col-5 col-lg-2" type="password" th:name="password" th:value="*{password}" id="password">
                </div>

                <div class="form-group row justify-content-center">
                    <p class="col-6 text-center validationError error"
                          th:if="${#fields.hasErrors('fullname')}"
                          th:errors="*{fullname}">Full name Error</p>
                </div>
                <div class="form-group row justify-content-center">
                    <label class="col-form-label col-2 text-right font-weight-bold" for="fullname">Full name: </label>
                    <input class="form-control col-5 col-lg-2" type="text" th:name="fullname" th:value="*{fullname}" id="fullname">
                </div>

                <div class="form-group row justify-content-center">
                <p class="col-6 text-center validationError error"
                      th:if="${#fields.hasErrors('email')}"
                      th:errors="*{email}">Email Error</p>
                </div>
                <div class="form-group row justify-content-center">
                    <label class="col-form-label col-2 text-right font-weight-bold" for="email">Email: </label>
                    <input class="form-control col-5 col-lg-2" type="text" th:name="email" th:value="*{email}" id="email">
                </div>

                <div class="row form-group justify-content-center">
                    <span class="col-6 col-lg-3"></span>
                    <input class="col-1 form-control btn btn-dark" type="submit" value="Sign Up">
                </div>

            </form>
        </div>

        <footer class="bttm">
            Copyright &copy;2020 <br/>
            Jorge Garcia <br/>
            CS-321-1
        </footer>

    </div>

    <script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/popper.js/1.16.0/umd/popper.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/4.5.2/js/bootstrap.min.js}"></script>
</body>
</html>