<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/base :: headContent">
    <title class="pageTitle">Success</title>
</head>

<body class="gradient">

    <header>
        <div th:replace="fragments/base :: navigation">

        </div>
    </header>


    <div th:replace="fragments/base :: icons">

    </div>

    <h1 class="successHead">Thank you for your submission</h1>

    <div th:replace="fragments/base :: footerContent">

    </div>
</body>
<th:block th:insert="fragments/base :: scripts"></th:block>
</html>